*.cs 			text	filter=tabspace
*.js			text
*.txt 			text
*.xml 			text
*.html 			text
*.shader		text
*.fbx			binary
*.png			binary
*.jpg			binary
*.jpeg			binary
*.exr			binary
*.mat			text eol=lf
*.meta 			text eol=lf
*.prefab		text eol=lf
*.anim 			text eol=lf
*.unity			text eol=lf
*.controller		text eol=lf
*.physicmaterial	text eol=lf
*.json			text eol=lf
*			text=auto
*.asset			-text
*.tif			binary
*.wav			binary
*.0			binary
*.hdr			binary
*.pptx			binary
