[submodule "Packages/VR-MRT-TexturePack"]
	path = Packages/VR-MRT-TexturePack
	branch = main
	url = ../VRMine-TexturePack/
[submodule "Packages/VR-MRT-ClosedSource"]
	path = Packages/VR-MRT-ClosedSource
	branch = main
	url = ../VRMine-ClosedSource
